h1, h2, h3, p, label, button, input {
    font-family: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
}

h1 {
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    padding: 0.5rem;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    padding: 0.5rem;
}

p {
    font-size: 15px;
}

body{
    margin: 0 auto;
    min-width: 360px;
    max-width: 500px;
    margin-top: 2rem;
}

#savings-box {
    text-align: center;
    padding: 2rem;
}

#income-expenses-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 1rem;
    border: solid 1px lightgrey;
    margin: 0 3rem;
    box-shadow: 0px 0px 3px 1px lightgray;
}

#savings-box p {
    font-size: 20px;
    font-weight: bold;
}

#incomeElement {
    color: #77DD78;
    font-weight: bold;
}

#expensesElement {
    color: #FF6962;
    font-weight: bold;
}

#history-box #new-transaction-box {
    padding: 1rem;
}

.transactionElementRed {
    display: flex;
    justify-content: space-between;
    border: solid #FF6962;
    border-width: 0 1px 1px 5px;
    padding: 0.8rem;
    text-align: center;
}

.transactionElementGreen {
    display: flex;
    justify-content: space-between;
    border: solid #77DD78;
    border-width: 0 1px 1px 5px;
    padding: 0.8rem;
    text-align: center;
}

.transactionAmountGreen{
    font-weight: bold;
    color: #77DD78;
}

.displaySavingsGreen {
    color: #77DD78;
}

.transactionAmountRed {
    font-weight: bold;
    color: #FF6962;
}

.displaySavingsRed {
    color: #FF6962;
}

.transactionConcept {
    font-weight: bold;
}

#addNewTransaction {
    display: grid;
}

#concept, #amount {
    padding: 0.3rem;
    margin: 10px 0;
}

.add-transaction-button {
    background-color: #b296db;
    border: solid 1px #b296db;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}

.add-transaction-button:hover {
    background-color: #815ec2;
    border: solid 1px #815ec2;
    color: white;
}


.delete-button {
    background-color: white;
    border: none;
}


.delete-button:hover{
    border: solid 1px lightgrey;
}

.delete-icon {
    width: 15px;
    align-items: center;
    padding: 1px;
}

.conceptLabel, .amountLabel{
    padding: 5px;
}